.price{
     background-image: url(../images/bg-price.svg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     padding-bottom: 80px;

     
}

.price__title{
     text-align: center;
     padding-top: 15.5rem;
     h1{
          color: $white;
     }
}
