.button {
    @include button($white, $ball-blue, $open-sans, $regular, $medium);

    &:hover {
        background-color: $middle-blue;
    }

    &:focus {
        background-color: $gray;
        outline: none;
    }
}

.button-primary {
    width: 6.25rem;
    margin-top: 5px;
    padding: 5px;
}

.button-primary--lg {
    width: 17.5rem;
    padding: 5px;
}
