/* Float four columns side by side */
.column {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* Remove extra left and right margins, due to padding */
.wrapper {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    padding: 1rem;
    text-align: center;
    background-color: $white;
    &:hover{
        box-shadow: 0 4px 8px 0 rgb(134, 190, 216,1);
    }
    
}
hr {
    width: 17.5rem;
}
.card__box {
    height: 12.375rem;
    ul > li {
        text-align: left;
        margin-left: 2.8125rem;
        color: $spanish-gray;
        font-family: $open-sans;
        font-weight: $regular;
        font-size: $small;
        padding-top: 0.625rem;
    }
}
