h1{
     font-size: $xxxxx-large;
     font-family: $raleway;
     font-weight: $bold;
}

h2{
     font-size: $x-large;
     font-family: $raleway;
     font-weight: $bold;
}

h3{
     font-size: $x-large;
     font-family: $open-sans;
     font-weight: $regular;
     color: $spanish-gray;
}

p{
     font-family: $open-sans;
     font-size: $medium;
     font-weight: $regular;
}
